@import url("//hello.myfonts.net/count/382ec5");
@import url("//hello.myfonts.net/count/39130e");

@font-face {
  font-family: "Carrara";
  font-weight: 400;
  src: url("/fonts/carrara/39130E_0_0.eot");
  src: url("/fonts/carrara/39130E_0_0.eot?#iefix") format("embedded-opentype"),
    url("/fonts/carrara/39130E_0_0.woff2") format("woff2"),
    url("/fonts/carrara/39130E_0_0.woff") format("woff"),
    url("/fonts/carrara/39130E_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Carrara";
  font-weight: 700;
  src: url("/fonts/carrara/382EC5_0_0.eot");
  src: url("/fonts/carrara/382EC5_0_0.eot?#iefix") format("embedded-opentype"),
    url("/fonts/carrara/382EC5_0_0.woff2") format("woff2"),
    url("/fonts/carrara/382EC5_0_0.woff") format("woff"),
    url("/fonts/carrara/382EC5_0_0.ttf") format("truetype"),
    url("/fonts/carrara/382EC5_0_0.svg#wf") format("svg");
}

@font-face {
  font-family: "Carrara";
  font-weight: 300;
  src: url("/fonts/carrara/382EC5_1_0.eot");
  src: url("/fonts/carrara/382EC5_1_0.eot?#iefix") format("embedded-opentype"),
    url("/fonts/carrara/382EC5_1_0.woff2") format("woff2"),
    url("/fonts/carrara/382EC5_1_0.woff") format("woff"),
    url("/fonts/carrara/382EC5_1_0.ttf") format("truetype"),
    url("/fonts/carrara/382EC5_1_0.svg#wf") format("svg");
}
