---
import { Sprite } from "astro-icon";
import CommonHead from "../components/CommonHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.vue";
import Page from "../components/Page.vue";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <CommonHead />
    <title>{title} - nkCreation</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Sprite.Provider>
      <div class="default">
        <Header class:list="default__header" dark={false} />

        <Page class:list="default__page" extended={false}>
          <slot />
        </Page>

        <Footer />
      </div>

      <style lang="scss">
        .default {
          min-height: 100%;
          display: flex;
          flex-direction: column;

          &__header {
            position: sticky;
            top: 0;
            flex: 0 0 auto;
          }
          &__page {
            --wrapper-cols: 6;

            flex: 1 1 auto;
            z-index: 1;
          }
        }
      </style>
    </Sprite.Provider>
  </body>
</html>
